@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500; 600;700&display=swap');

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color : #19587d;
    --white-color:#FFF;
    --gradient-white:#eddebf67;
    --gradient-red:#890009;
    --black-color: #000;
}
h1{
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}   
button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
}
.up-bar{
    border-top: 2px solid #BCBBBD;
    position: relative;
    top: 132px;
    width: 85%;
    left: 102px
}
.right-bar{
    border-right: 2px solid #BCBBBD;
    width: 85%;
    left: 102px
}
.left-bar{
    border-left: 2px solid #BCBBBD;
    position: relative;
    width: 85%;
    left: 102px
}
/* Design de la navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    list-style: none;
}
nav ul a{
    color: var(--white-color) ;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Rajdhani';
    text-decoration: none; 
}
nav ul a:hover, a.active{
    color: var(--yellow-color);
    font-weight: bold;
    text-decoration: underline;
}
.logo:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}

/* Design section - hero */

#hero {
    background-image: url(../Home/Bathome1.png);
    height: 1100px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #0b0f11;
    background-size: cover;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 300px;
}
#hero .texte{
    font-size: 20px;
    text-align: center;
    width: 55%;
    margin: 0 auto;
    font-family: 'Space Grotesk';
}
#hero .titre{
    margin: 50px 0;
    font-size: 30px;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    box-shadow: var(--black-color) 15px 15px 50px;
    font-family: 'Rajdhani';
    opacity: 0.4; 
}
.btn:hover{
    opacity: 1;
}
#hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 270px;
}
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 230px;
}
.scroll .social{
    margin-top: 15px;
}
.scroll .social:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
            filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}


/* Design section -Batman personnage */

.batman-personnage{
    display: flex;
    justify-content: space-between;
}
.batman-item{
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}   
.batman-item:hover{
    transform: scale(1.1);
}
#batman-cinéma, #batman-adversaires, #batman-alliés, #batman-justice-league, #multimédia{
    margin-top: 80px;
}
#batman-cinéma .titre, #batman-adversaires .titre, #batman-alliés .titre, #batman-justice-league .titre, #multimédia .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}
#batman-cinéma .description, #batman-adversaires .description, #batman-alliés .description, #batman-justice-league .description, #multimédia .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
    font-family: 'Space Grotesk';
}
#batman-cinéma .personnage-info, #batman-adversaires .personnage-info, #batman-alliés .personnage-info{
    text-align: center;
}
#batman-cinéma img, #batman-adversaires img, #batman-alliés img{
    transition: transform 0.2s ease-in-out;
    padding-top: 15%;
}


/* Design section - multimédia */

#multimédia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}
#multimédia button.right{
    right: -85%;
}
#multimédia .slider-multimédia{
    display: flex;
    width: 35%;
    margin: 30px auto;
    font-family: 'Space Grotesk';
}
#multimédia .slider-image{
    width: 60%;
}
#multimédia .slider-content{
    padding: 20px;
    background: linear-gradient(90deg,#eddebf, #102830);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}  
#multimédia p{
    font-size: 14px;
    padding: 2px;
}
#multimédia  h2{
    font-size: 10px;
    padding: 2px;
}
#multimédia h3{
    font-size: 20px;
    padding: 2px;
}
#multimédia .yellow{
    color: var(--yellow-color);
}
#multimédia .image-bande-annonce{
    text-align: center;
    padding: 80px;
}

/* Désign section - formulaire*/

#contact{
    background: linear-gradient(50deg,#eddebf, #102830);
    padding: 70px;
}
#contact .form{
    width: 50%;
    margin: 0 auto;
    font-family: 'Rajdhani';
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-family: 'Rajdhani';
}
#contact .titre{
    display: block;
    margin: 30px 0;
    font-size: 20px;
}

#contact .form input[type='email'], textarea, .holder, .news, .icon{
    display: flex;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(167, 167, 167);
    background-color: transparent;
    padding: 5px 0;
    margin: 30px 0;
}

#contact img{
    transform: rotate(90deg);
    width: 15px;
    cursor: pointer;
    position: relative;
    float: right;
    display: flex;
}
#contact .coch {
    margin-bottom: 20px;
}

::-webkit-input-placeholder{
    color: #f8f184;
    font-size: 15px;
    }

::-moz-placeholder{
    color: #f8f184;
    font-size: 15px;
    }

:-ms-input-placeholder{
    color: #f8f184;
    font-size: 15px;
    }

::-ms-input-placeholder{
    color: #f8f184;
    font-size: 15px;
    }

::placeholder{
    color: #f8f184;
    font-size: 15px;
    }
 .frequency{
    list-style: none;
    background:none;
    text-align: justify;
    margin-top: 20px;
}
.frequency li a{
    display: block;
    color: var(--white-color);
    border-bottom: 2px solid rgb(167, 167, 167);
    height: 30px;
    text-decoration: none;
    width: 80%;
} 
.frequency .choice li{
    display: none;
    margin: 0;
    padding: 0;
} 
.frequency li a:hover .choice li{
    display: block;
}

/*.frequency .choice li a{
   
    margin: 0;
    padding: 0;
} 
    border-bottom: 2px solid rgb(167, 167, 167);
    width: 100%;
    text-align: justify;
}
.frequency .choice li a:link, .frequency .choice li a:visited{
    display: block;
    color: var(--white-color);
    background:none;
    text-decoration: none;
    border-bottom: 2px solid rgb(167, 167, 167);
    width: 100%;
    text-align: justify;
}

*/
.btn-grp{
    margin: 10px 200px;
    display: flex;
    justify-content: space-around;
}
.films{
    opacity: 0.6;
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
          -o-border-image:  linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
             border-image:  linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
    font-size: 20px;
    color: var(--white-color)
}
.films:hover{
    opacity: 1;
    background: linear-gradient(90deg,#eddebf, #102830);
    }
.comics{
    opacity: 0.6;
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
          -o-border-image:  linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
             border-image:  linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
    font-size: 20px;
    color: var(--white-color)
}
.comics:hover{
    opacity: 1;
    background: linear-gradient(90deg,#eddebf, #102830);
    }
.tout{
    opacity: 0.6;
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
          -o-border-image:  linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
             border-image:  linear-gradient(
            69deg,#eddebf67,#19587d
          ) 1;
    font-size: 20px;
    color: var(--white-color)
}
.tout:hover{
    opacity: 1;
    background: linear-gradient(90deg,#eddebf, #102830);
    }
input[type='submit']{
    display: block;
    width: 230px;
    margin: 25px auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    padding: 10px 40px;
    background: linear-gradient(
            80deg,var(--gradient-white),var(--gradient-red)
        );
    font-family: 'Rajdhani';
    text-transform: uppercase;
}

/* Design section - citation*/

#citations{
    margin: 90px;
    font-family: 'Rajdhani';
}

#citations .citation-carte{
    text-align: center;
    width: 25%;
    margin: 0 auto;
    font-weight: bold;
    
}
#citations .citation-auteur{
    padding-top: 30px;
    font-size: 15px;
    text-align: center;
}
#citations .guillemet-close{
float: right;
}

/* Design - footer */

footer{
    margin-top: 170px;
}
footer .text-footer{
text-align: center;
font-size: 14px;
    }
footer .text-footer img{
    position: relative;
    top: 15px;
    margin: 8px;
}
footer .social-footer{
    text-align: center;
    margin: 50px 0;
}
footer .social-footer .social-item{
    padding: 15px;
}
.social-item:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
footer .social-footer .logo-item{
    position: relative;
    top: 10px;
    padding: 10px;
}
.logo-item:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
.wb:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
    filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg) brightness(109%) contrast(104%);
}
